body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.main-header {
    width: 1920px;
    min-height: 1024px;
    background: url(../img/header-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.up-header {
    display: flex;
    box-sizing: border-box
}

.logo {
    margin: 0;
    display: block;
    width: 179px;
    height: 56px;
    padding: 40px 0 0 376px;
}

.nav {
    margin: 0;
    padding: 61px 0 0 219px;
    width: 640px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.list a:hover {
    color: #c7b299;
}

.icon {
    padding: 55px 0 0 63px;
}

.shopping-bag > svg {
    fill: #fff;
    margin: 0 auto;
    padding: 0;
}

.shopping-bag {
    width: 18px;
    height: 24px;
    outline: none;
    border: none;
    background-color: #393b3c;
    margin: 0 auto;

}

.shopping-bag > svg:hover {
    fill: #c7b299;
}

.search > svg:hover {
    fill: #c7b299;
}

.search {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: #393b3c;
    margin: 0 0 0 28px;
    padding: 0;
}

.search > svg {
    fill: #fff;
    margin: 0 auto;
    padding: 0;
}

.header-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 596px;
    padding: 274px 0 0 661px;
}

.h2 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0px 0 7px 0;
}

.h1 {
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0px 0 15px 0
}

.header-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0px 0 44px 0;
}


}

.get {
    display: block;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: 17px 0 0 0;
}

.start {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

}
