body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat-light.ttf)
}

@font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf)
}

@font-face {
    font-family: raleway-semi;
    src: url(../fonts/raleway-semi.ttf)
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf)
}

@font-face {
    font-family: raleway-normal;
    src: url(../fonts/raleway-regular.ttf)
}

.main-header {
    width: 1920px;
    min-height: 1024px;
    background: url(../img/header-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.up-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 375px 0 375px;
    margin: 0 auto;
}

.logo {
    margin: 0;
    width: 181px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.logo svg {
    fill: #fff;
}

.logo > span {
    margin: 0;
    display: block;
    color: #fff;
    margin: 0;
    padding: 10px 0 0 0;
    font-family: raleway-normal;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.36px;
    text-align: right;
    color: #fff;
}

.nav {
    margin: 0;
    padding: 22px 0 0 219px;
    width: 640px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list a {
    font-family: montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.list a:hover {
    color: #c7b299;
}

.list .list-active {
    color: #7f7f7f;
}

.icon {
    min-height: 24px;
    min-width: 70px;
    padding: 15px 0 0 63px;
    display: flex;
    justify-content: space-between;
}

.shopping-bag {
    width: 18px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 0 28px 0 0;
}

.shopping-bag > svg {
    fill: #fff;
}

.logo > svg:hover,
.shopping-bag > svg:hover,
.iconlabel > svg:hover {
    fill: #c7b299;
}

.iconform {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
}

.iconlabel {
    display: block;
    width: 100%;
    height: 100%;
    fill: #fff;
    /*background-color: transparent;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: cover;*/
}

.iconsearch {
    width: 0;
    min-height: 0;
    box-sizing: border-box;
    outline: none;
    padding: 5px;
    margin: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #fff;
}

.iconsearch:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.header-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 596px;
    padding: 274px 0 0 661px;
}

.h2 {
    font-family: raleway-medium;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0px 0 7px 0;
}

.h1 {
    font-family: raleway-extrabold;
    font-size: 52px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0px 0 15px 0
}

.header-p {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0px 0 44px 0;
}

.get {
    display: block;
    width: 170px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

.get > span {
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 16px 38px;
    margin: 0 auto;
}

.get:hover {
    box-shadow: inset 0px -3px 0 0 #fff;
    background-color: #7f7f7f;
}

.get:active {
    background-color: #fff;
}

.get > span:active {
    color: #7f7f7f;
}

.arrow-header {
    display: flex;
    justify-content: space-between;
    margin: -155px 0 auto;
    padding: 0 150px 0 150px;
}

.arrow-left {
    display: block;
    width: 53px;
    height: 53px;
    box-sizing: border-box;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0.5;
    transform: rotate(225deg);
}

.arrow-left:hover {
    opacity: 1;
}

.arrow-right {
    display: block;
    width: 53px;
    height: 53px;
    box-sizing: border-box;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0.5;
    transform: rotate(45deg);
}

.arrow-right:hover {
    opacity: 1;
}

.pagination {
    width: 100px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 421px;
    align-items: center;
}

.pag-link {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
}

.pag-link:hover {
    display: block;
    transform: scale(1.3);
    /*width: 15px;
    height: 15px;*/
    border: solid 2px #d3c1ad;
    background-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
}

.section-up-white {
    padding: 80px 379px;
    display: flex;
    justify-content: space-between;
}

.section-up-white > div {
    text-align: center;
    width: 267px;
}

.section-up-white > div svg {
    fill: #555555;
}

.section-up-white > div svg:hover {
    fill: #c7b299;
}


.section-up-white > div span {
    display: block;
    margin: 0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: raleway-semi;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: rgb(85, 85, 85);
    padding: 29px 0 19px 0;
}

.section-up-white > div span:hover {
    color: #c7b299;
}


.section-up-white > div p {
    margin: 0;
    padding: 0;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: rgb(140, 140, 140);
}

.section-up-white > div p:after {
    content: "";
    display: block;
    clear: both;
    width: 70px;
    height: 3px;
    background-color: rgb(241, 238, 233);
    margin: 0 auto;
    margin-top: 33px;
}

.section-up-white > div p:hover:after {
    background-color: rgb(199, 178, 153);
}

.developent svg {
    margin-top: 9px;
}

.customizacion svg {
    margin-top: 4px;
}

.marketing svg {
    margin-top: 12px;
}

.servicesimage {
    background-color: #fbfaf8;
    position: relative;
    width: 1920px;
    height: 700px;


}

.servicesimage p {
    width: 757px;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    margin: 0 auto;
    padding: 24px 0 0 0;
}

.servicesimage div {
    transition: 0.5s
}

.servicesimage span {
    width: 100%;
    font-family: raleway-semi;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555;
    display: block;
    padding: 83px 0 0 0;
}

.image {

    position: absolute;
}

.image:hover {
    transform: scale(1.3);
    z-index: 4;
}

.left {
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-left.png);
    z-index: 1;
    top: 300px;
    left: 346px;
}

.center {
    width: 770px;
    height: 482px;
    background-image: url(../img/browser-center.png);
    z-index: 3;
    top: 218px;
    left: 576px;
}

.right {
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-right.png);
    z-index: 2;
    top: 300px;
    right: 344px;
}

.aside {
    width: 1920px;
    height: 150px;
    background-image: linear-gradient(to top, #211b19, #4e3427);
    padding: 48px 374px 0 376px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;

}

.waxom,
.multipurpose {
    font-family: raleway-normal;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

}

.waxom {
    color: #c7b299;
}

.multipurpose {
    color: #ffffff;
}

.aside p {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #615855;
    margin: 8px 0 0 0;
}

.purchase {
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
    white-space: nowrap;
    text-transform: uppercase;


}

.aside a {
    display: block;
    width: 170px;
    height: 50px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    left: 1376px;
    top: 50px;
    overflow: hidden;
    padding: 10px;
}

.aside a:hover {
    box-shadow: inset 0px -3px 0 0 #fff;
    background-color: #7f7f7f;
}
