.after() {
    content: "";
    display: block;
    clear: both;
}

.txt-ral() {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
}

.txt-mont() {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(140, 140, 140);
}

.icon_hover {
    fill: rgb(153, 134, 117);
}

.button_hover {
    box-shadow: inset 0px -3px 0 0 #fff;
    background-color: #7f7f7f;
}




/* пример 
.text(@family, @weight, @size) {
    font-family: @family;
    font-weight: @weight;
    font-size: @size;
}*/
